* {
  box-sizing: border-box; }

body {
  background: #f4f6f9; }

#sideMenu {
  background: #302D43;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0; }
  #sideMenu nav {
    padding-top: 100px; }
    #sideMenu nav a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 15px 20px;
      font-weight: 300;
      transition: all 0.5s ease-in-out; }
      #sideMenu nav a.active {
        background: #282639;
        border-right: 4px solid #92cf48;
        border-left: 4px solid #41EAFF;
        padding: 15px 20px 15px 25px; }
        #sideMenu nav a.active .fa {
          color: #41EAFF; }
      #sideMenu nav a .fa {
        color: #EAEDF3;
        font-size: 1.4rem;
        margin-right: 10px; }
      #sideMenu nav a:hover {
        background: #282639;
        border-right: 4px solid #92cf48;
        border-left: 4px solid #41EAFF; }
        #sideMenu nav a:hover .fa {
          color: #41EAFF; }

header {
  margin-left: 280px;
  padding: 20px;
  background: white; }
  header .search-area {
    display: inline-block; }
  header .fa-search {
    color: #f4f6f9; }
  header input {
    background: transparent;
    border: none;
    color: #92cf48;
    padding: 5px;
    font-weight: 200px; }
  header .user-field {
    display: inline-block;
    float: right; }
    header .user-field a {
      display: inline-block;
      margin-right: 10px;
      padding: 5px;
      color: #282639;
      vertical-align: top; }
      header .user-field a.notification {
        position: relative; }
      header .user-field a .circle {
        background: #92cf48;
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        font-size: 10px;
        color: white;
        text-align: center; }
      header .user-field a.add {
        font-weight: 300; }
      header .user-field a .fa-caret-down {
        position: relative;
        top: -10px; }
      header .user-field a .user-img {
        background: url(https://s3.amazonaws.com/uifaces/faces/twitter/kerem/128.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%; }
