#content-area {
  margin-left: 280px;
  padding: 5px; }

.cards-users {
  margin-left: 20px; }

.card-user {
  background: #fff; }

.img-user {
  position: relative;
  top: 10px; }

.user-name {
  font-size: 1.4rem;
  font-weight: 300;
  color: #92cf48;
  text-align: center;
  display: block;
  margin-top: 10px; }

.education {
  padding: 10px; }

.schools {
  padding: 15px; }

.user-title {
  text-align: center;
  color: #282639;
  display: block; }

.card2-user {
  margin-left: 50px;
  background: #fff; }

.img-user {
  background: url(https://s3.amazonaws.com/uifaces/faces/twitter/kerem/128.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px; }

.title-bord {
  padding: 15px;
  margin-left: 280px; }
  .title-bord h6 {
    color: #92cf48;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: 400;
    font-size: 25px; }

.education-school {
  margin-bottom: 30px; }

.card2-user h6 {
  font-size: 1.0rem;
  padding: 5px;
  color: #302D43; }

.card2-user p {
  font-size: 1.7rem;
  border-left: solid 3px #92cf48;
  position: relative;
  left: -15px;
  padding: 0 30px; }

.job-type {
  color: white;
  font-size: .7rem;
  background: #FF6600;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 7px; }

.location {
  font-size: 1.2rem;
  font-weight: 300; }

.position {
  font-size: 1.2rem;
  font-weight: 600; }

.time {
  color: #92cf48; }

.img-user2 {
  background: url(https://designcontest-com-designcontest.netdna-ssl.com/data/landing/505x380xed7b68530d369601.jpg.pagespeed.ic.edRhEFirQa.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.search-area .fa:hover {
  color: #41EAFF; }

.table {
  margin-top: 60px; }

table {
  width: 100%; }
  table th {
    color: #282639;
    text-transform: uppercase;
    font-weight: 500; }

thead {
  background: #C7BFBF;
  padding: 15px 15px; }

tbody {
  background: #fff; }

.logo {
  color: white;
  font-size: .7rem;
  background: #43DD43;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  padding: 7px; }

/* Side menu & Header */
* {
  box-sizing: border-box; }

body {
  background: #f4f6f9;
  overflow-x: hidden; }
  body a:hover {
    outline: 0;
    text-decoration: none; }

#sideMenu {
  background: #302D43;
  width: 280px;
  height: 100vh;
  position: fixed; }
  #sideMenu nav {
    padding-top: 100px; }
    #sideMenu nav a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 15px 20px;
      font-weight: 300;
      transition: all 0.5s ease-in-out; }
      #sideMenu nav a.active {
        background: #282639;
        border-right: 4px solid #92cf48;
        border-left: 4px solid #41EAFF;
        padding: 15px 20px 15px 25px; }
        #sideMenu nav a.active .fa {
          color: #41EAFF; }
      #sideMenu nav a .fa {
        color: #EAEDF3;
        font-size: 1.4rem;
        margin-right: 10px; }
      #sideMenu nav a:hover {
        background: #282639;
        border-right: 4px solid #92cf48;
        border-left: 4px solid #41EAFF; }
        #sideMenu nav a:hover .fa {
          color: #41EAFF; }

header {
  width: 100vw;
  padding-left: 280px;
  padding: 20px;
  background: white; }
  header .search-area {
    padding-left: 280px;
    display: inline-block;
    width: 50%; }
  header .fa-search {
    color: #f4f6f9; }
  header .input {
    background: transparent;
    border: none;
    color: #92cf48;
    padding: 5px;
    font-weight: 200px;
    transition: all .5s ease-in-out;
    width: 80%; }
    header .input:hover {
      background: #EAEDF3; }
  header .user-field {
    display: inline-block;
    float: right; }
    header .user-field a {
      display: inline-block;
      margin-right: 10px;
      padding: 5px;
      color: #282639;
      vertical-align: top; }
      header .user-field a.notification {
        position: relative; }
      header .user-field a .circle {
        background: #92cf48;
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        font-size: 10px;
        color: white;
        text-align: center; }
      header .user-field a.add {
        font-weight: 300; }
      header .user-field a .fa-caret-down {
        position: relative;
        top: -10px; }
      header .user-field a .user-img {
        background: url(https://s3.amazonaws.com/uifaces/faces/twitter/kerem/128.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%; }

input:focus,
textarea:focus {
  outline: none; }
