// Main Sass File
@import "variables";
@import "content-area";
/* Side menu & Header */
*{
  box-sizing: border-box;
}
body{
  background:$lightGrey;
  overflow-x: hidden;
  a:hover{
    outline: 0;
    text-decoration: none;
  }
}

#sideMenu{
  background: $purpleLight;
  width: 280px;
  height: 100vh;
  position: fixed;
  //top:0;
  //bottom:0;

   nav{
     padding-top:100px;
     a{
       display: block;
       color: white;
       text-decoration: none;
       padding: 15px 20px;
       font-weight: 300;
       transition: all 0.5s ease-in-out;
       &.active{
         background: $purpleDark;
         border-right: 4px solid $neonGreen;
         border-left: 4px solid $neonBlue;
         padding: 15px 20px 15px 25px;
         .fa{
           color:$neonBlue;
         }
       }
      .fa {
        color:$darkGrey;
        font-size:1.4rem;
        margin-right: 10px;
      }
      &:hover{
        background:$purpleDark;
        border-right: 4px solid $neonGreen;
        border-left: 4px solid $neonBlue;
         .fa{
           color: $neonBlue;
         }
      }
     }
   }
}
header{
width:100vw;
padding-left:280px;
padding:20px;
background: white;
.search-area{
  padding-left: 280px;
  display: inline-block;
  width: 50%;
}
  .fa-search {
    color:$lightGrey;
 }

 .input{
   background: transparent;
   border: none;
   color:$neonGreen;
   padding: 5px;
   font-weight: 200px;
   transition:all .5s ease-in-out;
   width: 80%;
   &:hover{
    background: $darkGrey;
  } 
 }
 .user-field{
  display: inline-block;
  float:right;
   a{
     display: inline-block;
     margin-right: 10px;
     padding: 5px;
     color:$purpleDark;
     vertical-align: top;

     &.notification{
       position: relative;
      }
      .circle{
        background:$neonGreen;
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        font-size: 10px;
        color: white;
        text-align: center;
      }
      &.add{
        font-weight: 300;
      }
      .fa-caret-down{
        position: relative;
        top:-10px;
      }
      .user-img{
          background: url(https://s3.amazonaws.com/uifaces/faces/twitter/kerem/128.jpg) no-repeat center center ; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 30px;
          height: 30px;
          display: inline-block;
          border-radius: 50%;
        }
      }
   }
}
input:focus,
textarea:focus{
  outline: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
